body {
    display: flex;
    background-color: #5F5AF0 !important;
    padding-top: 0 !important;
}

.login-registration-card-header {
    border-radius: 30px !important;
}

.login-registration-card {
    margin: auto auto 4% auto;
    border-radius: 30px !important;
    box-sizing: border-box;
}

.login-registration-link-div {
    font-weight: 600;
    font-size: medium;
}

input[type=text], input[type=password] {
    font-size: 1.50rem;
    border: 1px solid rgba(59, 54, 140, 0.1);
    background-color: aliceblue !important;
    width: 100%;
}

button {
    box-shadow: 2.419px 9.703px 12.48px 0.52px rgb(156 62 236 / 50%);
    border-radius: 1rem !important;
}
label{
    font-weight:600;
}

@media only screen and (max-width: 600px) {
    .login-registration-card {
        width: 90% !important;
    }
}
