

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Change Password</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                            <fieldset class="form-group">
                                <label for="basicInput">Current Password</label>
                                <input type="password" class="form-control" onchange="CheckExistingPassword()" id="CurrentPassword">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                            <fieldset class="form-group">
                                <label for="basicInput">New Password</label>
                                <input type="password" class="form-control" id="NewPassword">
                            </fieldset>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                            <fieldset class="form-group">
                                <label for="basicInput">Confirm Password</label>
                                <input type="password" class="form-control" onchange="MatchPassword()" id="ConfirmPassword">
                            </fieldset>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                            <button type="button" class="form-control-lg btn btn-primary btn-lg pl-3 pr-3" id="btnChangePassword">Change Password</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Application_Scripts/ChangePassword.js"></script>
}
