
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Generate Daily Task Income</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                            <button type="button" class="form-control-lg btn btn-primary btn-lg pl-3 pr-3" id="btnGenerateDailyIncome">Generate Daily Task Income</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Application_Scripts/GenerateDailyTaskIncome.js"></script>
}
