
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Package Entry</h3>

        </div>
        <div class="content-header-right text-md-right col-md-6 col-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                <button type="button" class="btn btn-success" id="btnUpdate">Update</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>

            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- Basic Elements start -->
        <section class="basic-elements" >
            <div class="row" id="PackageMasterDetailId">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Package Category</label>
                                            <select class="form-control select2" id="ddlPackageCategory">
                                                <option value="0" min="0">Select</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Package Name</label>
                                            <input class="form-control" id="txtPackageName">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Package Value</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtPackageValue">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Plan Duration</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtPlanDuration">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Daily Task Count</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtDailyTaskCount">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Action worth</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtActionworth">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Daily Earn </label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtDailyEarn">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Weekly Earn </label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtWeeklyEarn">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Monthly Earn </label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtMonthlyEarn">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Yearly Earn </label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtYearlyEarn">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Referral Earn <span id="ReferralEarnlabel"></span> Label</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtReferralEarnlevel">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">Work Comission <span id="WorkComissionlabel"></span> Label</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtWorkComissionlevel">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> Potential Referral Earn</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtPotentialReferralEarn">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> Potential Referral Work Earn</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtPotentialReferralWorkEarn">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> Target Potential Yearly Income</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtTargetPotentialYearlyIncome">
                                        </fieldset>
                                    </div>
                                    @* For 10 Packages *@
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> TCB On the Main Investment</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtTCBOntheMainInvestment">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> Potential Yearly Min Income</label>
                                            <input class="form-control" type="number" value="0" min="0" id="txtPotentialYearlyMinIncome">
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> Remark</label>
                                            <textarea class="form-control" id="txtRemark" rows="1"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group" style="padding-top:10px;">
                                            <input type="checkbox" id="IsActive" class="switchery switchery-small" checked />
                                            <label for="isActive" class="font-medium-2 text-bold-600 ml-1"> Is Active</label>&nbsp;
                                        </fieldset>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="PackageListId">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <table id="PackageListTableId" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Edit </th>
                                        <th>Category</th>
                                        <th>Package Name</th>
                                        <th>Package Value</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
</section>
        

    </div>
</div>

@section scripts {
    <script src="~/Application_Scripts/Package.js"></script>
}

