@using Microsoft.AspNetCore.Http
@using Dos4PeopleApp.Utility
@using Dos4PeopleApp.Models
@using Microsoft.Extensions.Configuration
@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration iConfiguration
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
<style>
    .card-roboto {
        font-family: 'Roboto Condensed' !important;
    }
</style>
@{ var user = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VmUser>("VmUser");
    var referrelLink = iConfiguration.GetSection("MySettings").GetSection("BaseUrl").Value.ToString() + "User?referrer=" + user.UserName;}
<div class="content-wrapper">
    <div class="row cardHolder">
        <div class="card referrel-card mt-2 ml-2 mr-2">
            <div class="card-header  ">
                <h4>My Referral Link:</h4>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control m-0 bg-silver" id="refferelId" readonly style="border-top:none; border-left:none;" value=@referrelLink />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger  cs-button" id="copyBtn"><b>Copy</b></button>
                        <a href="/Dashboard" class="btn btn-info   cs-button"><i class="fa fa-plus"></i> Deposit</a>
                        <a href="/Withdrawal" class="btn btn-warning   cs-button"><i class="fa fa-arrow-up"></i> Withdraw</a>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-roboto mt-1 ml-1 mr-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <input type="hidden" id="GetDashboardFirstCardDataURLId" value=@Url.ActionLink("GetDashboardFirstCardData","Dashboard") />
            <input type="hidden" id="GetDashboardGraphURLId" value=@Url.ActionLink("GetDashboardGraphData","Dashboard") />
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h4>Referrel Earn</h4>
                        <p style="font-size:xx-large;color:darkturquoise">
                            $<span id="ReferrelEarnValId"></span>
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="card card-roboto mt-1 mr-1 ml-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h4>Work Commission</h4>
                        <p style="font-size:xx-large;color:darkturquoise">
                            $<span id="WorkCommissionValId"></span>
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="card card-roboto mt-1 ml-1 mr-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h4>Task Commission</h4>
                        <p style="font-size:xx-large;color:darkturquoise">
                            $<span id="TaskCommissionValId"></span>
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>


        <div class="card card-roboto mt-1 ml-1 mr-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h4>Balance</h4>
                        <p style="font-size:xx-large;color:darkturquoise">
                            $<span id="CurrBalValId"></span>
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="card card-roboto mt-1 mr-1 ml-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h4>Today's Earn</h4>
                        <p style="font-size:xx-large;color:darkturquoise">
                            $<span id="TodayEarnValId"></span>
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="card card-roboto mt-1 ml-1 mr-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h4 id="CurrentPackageNameId"></h4>
                        <p style="font-size:xx-large;color:darkturquoise">
                            $<span id="CurrPackValId"></span>
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="card mt-1 ml-1 mr-1" style="border-radius:2rem;">
                <div class="card-header" style="border-radius:2rem;">
                    <h4 class="card-title">Direct Referrals Count (Last 7 Days)</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="height-400">
                            <canvas id="direct-referrel-column-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card mt-1  ml-1 mr-1" style="border-radius:2rem;">
                <div class="card-header" style="border-radius:2rem;">
                    <h4 class="card-title">Money Credited To Your Account (Last 7 Days)</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="height-400">
                            <canvas id="money-credited-column-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<style>
    .referrel-card {
        width: 100%;
        border-radius: 2rem !important;
    }

    .cs-button {
        box-shadow: 2.419px 9.703px 12.48px 0.52px rgb(156 62 236 / 50%);
    }

    .cardHolder {
        background-color: #5F5AF0;
        border-radius: 2rem;
    }

    pre {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        background-color: aliceblue !important;
    }
</style>

<!-- BEGIN: Page Vendor JS-->
<script src="~/Content/Theme/app-assets/vendors/js/charts/chart.min.js"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
@*<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/bar.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/bar-stacked.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/bar-multi-axis.js"></script>*@
@*<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/column.js"></script>*@
@*<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/column-stacked.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/column-multi-axis.js"></script>*@
<!-- END: Page JS-->
<script src="~/Application_Scripts/Dashboard.js"></script>
