@using Microsoft.AspNetCore.Http
@using Dos4PeopleApp.Utility
@using Dos4PeopleApp.Models
@inject IHttpContextAccessor HttpContextAccessor

@{ var user = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VmUser>("VmUser"); }
<div class="content-wrapper">
    <div class="row cardHolder">
        <div class="card referrel-card mt-2 ml-2 mr-2">
            <div class="card-header  ">
                <h4>My Referral Link:</h4>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <pre class="form-control m-0 bg-silver" id="refferelId">https://worksonline.co.uk/register?referrer=@user.UserName</pre>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger  cs-button" id="copyBtn"><b>Copy</b></button>
                        <a href="/user/deposit" class="btn btn-info   cs-button"><i class="fa fa-plus"></i> Deposit</a>
                        <a href="/user/cashout" class="btn btn-warning  cs-button"><i class="fa fa-arrow-up"></i> Withdraw</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-1 ml-2 mr-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h3>Main</h3>
                        <p style="font-size:xx-large;color:darkturquoise">
                            ৳0
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="card mt-1 mr-1 ml-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h3>Purchase</h3>
                        <p style="font-size:xx-large;color:darkturquoise">
                            ৳0
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="card mt-1 ml-1 mr-1 col-md-3 col-sm-6 pb-2" style="border-radius: 2rem !important;">
            <div class="card-body ">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h3>Commission</h3>
                        <p style="font-size:xx-large;color:darkturquoise">
                            ৳0
                        </p>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-money primary font-large-3 float-right"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="card mt-1 ml-1 mr-1" style="border-radius:2rem;">
                <div class="card-header" style="border-radius:2rem;">
                    <h4 class="card-title">Direct Referrals Count</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="height-400">
                            <canvas id="column-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card mt-1  ml-1 mr-1" style="border-radius:2rem;">
                <div class="card-header" style="border-radius:2rem;">
                    <h4 class="card-title">Money Credited To Your Account</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="height-400">
                            <canvas id="column-money-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<style>
    .referrel-card {
        width: 100%;
        border-radius: 2rem !important;
    }

    .cs-button {
        box-shadow: 2.419px 9.703px 12.48px 0.52px rgb(156 62 236 / 50%);
    }

    .cardHolder {
        background-color: #5F5AF0;
        border-radius: 2rem;
    }

    pre {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        background-color: aliceblue !important;
    }
</style>

<!-- BEGIN: Page Vendor JS-->
<script src="/Content/Theme/app-assets/vendors/js/charts/chart.min.js"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/bar.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/bar-stacked.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/bar-multi-axis.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/column.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/column-stacked.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/charts/chartjs/bar/column-multi-axis.js"></script>
<!-- END: Page JS-->
<script src="~/Application_Scripts/Dashboard.js"></script>
